html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #f4f5f7;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  background: #50344ab8;
  -webkit-box-shadow: -2px -7px 47px 9px rgba(192, 50, 105, 0.322);
          box-shadow: -2px -7px 47px 9px rgba(192, 50, 105, 0.322);
}

code {
  display: inline-block;
  font-size: 16px;
  color: #666666 !important;
  background-color: #fbfaf9;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: 0 8px 8px 0;
  padding: 6px;
  border-color: #343a40;
}

.particles-header {
  background-color: #2e3974;
}

.profile-photo {
  max-width: 200px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tsparticles {
  background-image: -webkit-gradient(linear, left top, right top, from(#453344), to(#51344a));
  background-image: linear-gradient(to right, #453344 0%, #51344a 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow-y: hidden;
}

.top-5 {
  top: 5%;
}

.project-img-size {
  max-height: 250px;
  font-size: large;
}

.a-custom {
  color: #3a3a3a;
}

.a-custom:hover {
  color: black;
  cursor: pointer;
}

.bg-custom-secondary {
  background-color: #c9688d !important;
}

.svg-size {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.vertical-line {
  color: black;
  border-left: 2px solid black;
  height: 15vh;
}

.bottom-left {
  left: 5%;
  bottom: 0px;
}

.bottom-left::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: black;
  margin-top: 37px;
}

.rotate-90 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.bottom-right {
  right: 5%;
  bottom: 0px;
}

.bottom-right::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: black;
}

.a-glow {
  color: black;
}

.a-glow:hover {
  color: rgba(192, 50, 104, 0.822) !important;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.color-custom {
  color: rgba(192, 50, 104, 0.822) !important;
}

.line-border {
  border-top: 1px solid rgba(182, 182, 182, 0.507);
  border-bottom: 1px solid rgba(182, 182, 182, 0.507);
}

.btn-outline-custom {
  border: 1px solid rgba(192, 50, 104, 0.822) !important;
  padding: 0.75 rem;
}

.btn-outline-custom:active, .btn-outline-custom:hover {
  background-color: rgba(192, 50, 104, 0.445);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 48px 24px;
}

.footer__bottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  padding: 24px;
  background: #432c3e;
}

.btn-contact {
  background-color: #000 !important;
  border-radius: 0% !important;
}

.btn-contact:hover {
  background-color: #212121 !important;
}

.bg-custom-primary {
  background: #50344a;
}

.top-7 {
  top: 8rem;
}

.very-tiny-text {
  font-size: 10px;
}

.mt-37px {
  margin-top: 37px;
}

.cursor-default {
  cursor: default !important;
}

.text-shadow {
  text-shadow: 1px 1px 8px rgba(192, 50, 104, 0.171);
}

@media (max-width: 992px) {
  .order-md {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .text-md-left {
    text-align: left !important;
  }
  .btn-md-inline {
    display: inline-block !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.fade-out {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .d-sidenav-none {
    display: none !important;
  }
}

@media (max-width: 380px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
/*# sourceMappingURL=index.css.map */